.msg_scroll {
background: rgb(187,175,27);
background: linear-gradient(0deg, rgba(187,175,27,1) 0%, rgba(200,15,22,1) 100%);
    z-index: 999;
    display: block;
    position: relative;
    padding: 10px 20px;
    border: 0;
    color: #fff;
    font-weight: 700;
    font-family: arial;
    text-transform: uppercase;
    text-shadow: 0 0 3px #000;
    text-align: center;
    font-size: 18px;
}
#service_css
{
background-color: #FFE53B;
background-image: linear-gradient(298deg, #FFE53B 0%, #FF2525 18%, #e7aa75 49%, #54cae7 75%, #d91ecc 100%);
}
#fa_colour
{
    color:black!important;
}  
.holi_img
{
    background: url(../img/holi2.jpg);
    color:black!important;
    font-weight:500;
}
.toufique_holi
{
        background: url(../img/holi3.jpg);
        background-repeat:no-repeat!important;
        background-size:100%!important;
}
.holi_img_5
{
    background: url(../img/holi5.jpg);
    color:black!important;
    font-weight:500;
    background-repeat:no-repeat!important;
    background-size:100%!important;
}
.what_we_do
{
    background: rgb(1,216,250);
    background: linear-gradient(0deg, rgba(1,216,250,1) 7%, rgba(212,204,34,1) 89%);
}
